In [3]:
import json
import pandas as pd
from pandas.io.json import json_normalize

In [27]:
poi_df = pd.read_json("pois.json", lines=True)

In [28]:
poi_df.head()

,key,metadata,data
0,"{'source_name': 'foursquare', 'source_referenc...","{'collected_at': '2014-07-16T20:55:46Z', 'upda...","{'name': 'Saint Louis Art Museum', 'geo': {'la..."
1,"{'source_name': 'foursquare', 'source_referenc...","{'collected_at': '2014-07-16T20:55:46Z', 'upda...","{'name': 'Saint Louis Zoo', 'geo': {'latitude'..."
2,"{'source_name': 'foursquare', 'source_referenc...","{'collected_at': '2014-07-16T20:55:46Z', 'upda...","{'name': 'Museum of Transportation', 'geo': {'..."
3,"{'source_name': 'foursquare', 'source_referenc...","{'collected_at': '2014-07-16T20:55:46Z', 'upda...","{'name': 'Missouri History Museum', 'geo': {'l..."
4,"{'source_name': 'foursquare', 'source_referenc...","{'collected_at': '2014-07-16T20:55:46Z', 'upda...",{'name': 'The Cow (Bessie) on Mid Rivers Mall ...

In [29]:
type(poi_df.head())

pandas.core.frame.DataFrame

In [30]:
poi_df.count()

key         694546
metadata    694546
data        694546
dtype: int64

In [60]:
poi_df.unstack()

key   0         {'source_name': 'foursquare', 'source_referenc...
      1         {'source_name': 'foursquare', 'source_referenc...
      2         {'source_name': 'foursquare', 'source_referenc...
      3         {'source_name': 'foursquare', 'source_referenc...
      4         {'source_name': 'foursquare', 'source_referenc...
                                      ...
data  694541    {'name': 'Budget Truck Rental', 'geo': {'latit...
      694542    {'name': 'ECU Bus Stop', 'geo': {'latitude': 3...
      694543    {'name': 'Ta'Sherra', 'geo': {'latitude': 35.6...
      694544    {'name': 'In da boondocks', 'geo': {'latitude'...
      694545    {'name': 'GCC Campus', 'geo': {'latitude': 35....
Length: 2083638, dtype: object

In [34]:
with open("pois.json") as datafile:
    for line in datafile:
        data = json.loads(line)
        ww = pd.DataFrame(data)
ww.head()

                                       key              metadata        data
source_name                     foursquare                   NaN         NaN
source_reference  4f816f5ee4b0c2f7665e2bab                   NaN         NaN
collected_at                           NaN  2014-07-16T20:55:46Z         NaN
updated_at                             NaN  2021-02-23T17:54:31Z         NaN
name                                   NaN                   NaN  GCC Campus

In [39]:
poi_df1 = pd.DataFrame(poi_df.data.values.tolist())['name']

In [55]:
poi_df1.head()

0                       Saint Louis Art Museum
1                              Saint Louis Zoo
2                     Museum of Transportation
3                      Missouri History Museum
4    The Cow (Bessie) on Mid Rivers Mall Drive
Name: name, dtype: object

In [38]:
ww.count()

key         2
metadata    2
data        4
dtype: int64

In [43]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [54]:
flat = flatten_json(data)
pd.json_normalize(flat)

,key_source_name,key_source_reference,metadata_collected_at,metadata_updated_at,data_name,data_geo_latitude,data_geo_longitude,data_address_city,data_address_country,data_address_postal_code,data_categories_0
0,foursquare,4f816f5ee4b0c2f7665e2bab,2014-07-16T20:55:46Z,2021-02-23T17:54:31Z,GCC Campus,35.573989,-77.391847,Greenville,United States,27834,Tourist Information Center

In [58]:
pd.json_normalize(data)

,key.source_name,key.source_reference,metadata.collected_at,metadata.updated_at,data.name,data.geo.latitude,data.geo.longitude,data.address.city,data.address.country,data.address.postal_code,data.categories
0,foursquare,4f816f5ee4b0c2f7665e2bab,2014-07-16T20:55:46Z,2021-02-23T17:54:31Z,GCC Campus,35.573989,-77.391847,Greenville,United States,27834,[Tourist Information Center]

In [ ]:
poi_ap = pd.DataFrame()

with open("pois.json") as datafile:
    for line in datafile:
        data = json.loads(line)
        dn = pd.json_normalize(data)
        poi_ap = poi_ap.append(dn)

In [6]:
dn= pd.json_normalize(data)

In [9]:
poi_ap

,key.source_name,key.source_reference,metadata.collected_at,metadata.updated_at,data.name,data.geo.latitude,data.geo.longitude,data.address.street,data.address.city,data.address.country,data.address.postal_code,data.categories,data.description
0,foursquare,4acbc3fcf964a52067c620e3,2014-07-16T20:55:46Z,2021-02-23T17:53:41Z,Saint Louis Art Museum,38.639431,-90.294471,1 Fine Arts Dr,St Louis,United States,63110,"[Art Museum, Art Gallery]",NaN
0,foursquare,4acbc3fbf964a52024c620e3,2014-07-16T20:55:46Z,2021-02-23T17:53:41Z,Saint Louis Zoo,38.635815,-90.291606,1 Government Dr,St Louis,United States,63110,[Zoo],NaN
0,foursquare,4b9d3877f964a520a29a36e3,2014-07-16T20:55:46Z,2021-02-23T17:53:41Z,Museum of Transportation,38.572652,-90.463388,3015 Barrett Station Rd,St Louis,United States,63122,"[Museum, History Museum]","The Museum of Transportation has ""One of the l..."
0,foursquare,4acbc3fbf964a52057c620e3,2014-07-16T20:55:46Z,2021-02-23T17:53:41Z,Missouri History Museum,38.645026,-90.285826,5700 Lindell Blvd,St Louis,United States,63112,"[History Museum, Historic Site]",The Missouri History Museum houses countless t...
0,foursquare,4d8e3163fa943704355ffcc5,2014-07-16T20:55:46Z,2021-02-23T17:53:41Z,The Cow (Bessie) on Mid Rivers Mall Drive,38.771013,-90.625869,2601 Mid Rivers Mall Dr,NaN,United States,63376,[Public Art],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,foursquare,4bbe3b7c8ca376b0a685c77a,2014-07-16T20:55:46Z,2021-02-23T17:53:43Z,Old Main Lawn,36.069391,-94.170860,NaN,Fayetteville,United States,72701,[Other Great Outdoors],NaN
0,foursquare,4c0a57bc7e3fc9284260f382,2014-07-16T20:55:46Z,2021-02-23T17:53:43Z,Gary Hampton Softball Complex,36.103569,-94.206561,2900 Salem Road,Fayetteville,United States,72704,[Other Great Outdoors],NaN
0,foursquare,4f64dbc5e4b0788a8fa91df8,2014-07-16T20:55:46Z,2021-02-23T17:53:43Z,The Black Pearl,36.099796,-94.125433,NaN,NaN,United States,NaN,[Other Great Outdoors],NaN
0,foursquare,4ee7fa1a0e617cf2f0027141,2014-07-16T20:55:46Z,2021-02-23T17:53:43Z,XNA Run,36.339936,-94.180203,XNA Run,NaN,United States,72712,[Other Great Outdoors],NaN
0,foursquare,4c1e7255b4e62d7f5945de93,2014-07-16T20:55:46Z,2021-02-23T17:53:43Z,Springdale Aquatic Center,36.178796,-94.141958,NaN,Springdale,United States,72764,[Pool],NaN